Flask==3.0.3
Flask-cors==4.0.0
Flask-caching==2.1.0
google-auth>=2.26.2
google-cloud-storage==2.14.0
google-cloud-bigquery>=3.0.0
google-cloud-bigquery[pandas]>=3.0.0
google-cloud-bigquery-storage
gevent==24.2.1
gunicorn==21.2.0
numpy>=1.26.3
pandas>=2.1.4
requests>=2.31.0
pillow==10.2.0
Flask-Mail==0.9.1
openpyxl==3.1.2
google-api-python-client==2.127.0
python_dotenv==1.0.1
joblib==1.4.2