Flask
Flask-cors
Flask-caching
google-auth
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage
gevent
gunicorn
numpy
pandas
requests
pillow
Flask-Mail
openpyxl
google-api-python-client
python_dotenv
joblib
gunicorn
Werkzeug
